<div class="col-lg">

    <nav class="navbar navbar-inverse">
        <a routerLink="" class="navbar-brand">Hola</a>

        <div>
            <a routerLink="/login" type="button" class="pull-right btn btn-primary navbar-btn">Login</a>
        </div>
        <div>
            <a routerLink="/sign-in" type="button" class="pull-right btn btn-primary navbar-btn">Sign In</a>
        </div>
    </nav>

</div>

<div class="container text-center"> 
    <h1>
        Calculadora IMC 
    </h1>

    <div class="col-md">
        <p>
            La calculadora que te ayudara a calcular de manera rapida y eficaz tu 
            Indice de Masa Corporal
        </p>
    </div>
    
</div>