.normal{
    background-color: #31ff4971;
}
.advertencia {
    background-color: #fff270;
}

.peligro1{
    background-color: #f4cccc;
}

.peligro2{
    background-color: #ff9a9a;
}

.peligro3{
    background-color: #ff7e7e;
}