<div class="col-lg">

    <nav class="navbar navbar-inverse">
        <a routerLink="" class="navbar-brand">Hola</a>

        <div>
            <a routerLink="" type="button" (click)="exit()" class="pull-right btn btn-primary navbar-btn">Logout</a>
        </div>

    </nav>

</div>

<div class="container">

    <div class="">
        <h1>Calculadora IMC</h1>
    </div>

    <div class="col-md-2 col-md-offset-4">

        <form class="form">

            <div class="input-group form-group">
                <span class="input-group-addon" id="basic-addon1">Altura</span>
                <input class="form-control" [(ngModel)]="altura" name="altura" placeholder="Metros" type="number"
                    id="altura">
            </div>

            <div class="input-group form-group">
                <span class="input-group-addon" id="basic-addon2">Peso</span>
                <input type="number" class="form-control" [(ngModel)]="peso" name="peso" placeholder="Kg" id="peso">
            </div>

            <div class="input-group form-group">
                <span class="input-group-addon" id="basic-addon1">Edad</span>
                <input class="form-control" [(ngModel)]="edad" placeholder="Años" name="edad" type="number" id="edad">
            </div>

            <div class="input-group form-group">
                <input type="radio" [(ngModel)]="genero" name="genero" id="genero" value="femenino">Femenino

            </div>

            <div class="input-group form-group">
                <input type="radio" [(ngModel)]="genero" name="genero" id="genero" value="masculino">Masculino
            </div>

            <div class="input-group form-group">
                <input class="btn btn-primary" (click)="insertar()" type="button" value="Calcular" id="calcular"
                    name="calcular">
            </div>

        </form>

    </div>

    <!---
    <div *ngIf="mostrar_diag" id="tabla" class="col-lg-12 table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>IMC</td>
                    <td>Edad</td>
                    <td>Peso</td>
                    <td>Altura</td>
                    <td>Diagnostico</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <span class="imc"> {{ imc.toFixed(1) }} </span> </td>
                    <td> <span class="edad"> {{ edad }} </span> </td>
                    <td> <span class="peso"> {{ peso }} </span> </td>
                    <td> <span class="altura"> {{ altura }} </span> </td>
                    <td> <span class="diagnostico"> {{ diagnostico }} </span> </td>
                </tr>
            </tbody>
        </table>
    </div>
    -->

    <div class="row">
        <div *ngIf="mostrar_diag" class="table-responsive col-lg-12">
            <h3>Tabla de IMC</h3>
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr class="peligro3">
                        <td>Bajo peso</td>
                        <td>Menor o igual que 18.4</td>
                    </tr>
                    <tr class="normal">
                        <td>Normal</td>
                        <td>Entre 18.5 y 24.9</td>
                    </tr>
                    <tr class="advertencia">
                        <td>Sobrepeso</td>
                        <td>Entre 25 y 29.9</td>
                    </tr>
                    <tr class="peligro1">
                        <td>Obesidad de primer grado</td>
                        <td>Entre 30 y 34.9</td>
                    </tr>
                    <tr class="peligro2">
                        <td>Obesidad de segundo grado</td>
                        <td>Entre 35 y 39.9</td>
                    </tr>
                    <tr class="peligro3">
                        <td>Obesidad de tercer grado</td>
                        <td>Mayor de 40</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="" *ngIf="mostrar_diag">
                        <h2 class="text-center">IMC Guardados</h2>
                        <hr>
                        <table class="table table-bordered table-hover text-center">
                            <thead class="">
                                <tr class="bg-light text-dark">
                                    <th scope="col">Fecha</th>
                                    <th scope="col">IMC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let res of arrImcs">
                                    <th>{{ res.fecha}}</th>
                                    <td>{{ res.resultado }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>